//COMPILE  JOB REGION=0M,MSGCLASS=1,NOTIFY=&SYSUID   
//COBOL  EXEC PGM=IGYCRCTL,PARM='OBJECT'
//STEPLIB  DD DSNAME=PP.COBOL390.V620.SIGYCOMP,DISP=SHR
//         DD DSNAME=CEE.SCEERUN,DISP=SHR
//         DD DSNAME=CEE.SCEERUN2,DISP=SHR
//SYSIN    DD DISP=SHR,DSN={{ src_data_set }}({{ member_name }})
//SYSLIN   DD DSNAME=&&LOADSET,UNIT=SYSALLDA,
//            DISP=(MOD,PASS),SPACE=(CYL,(1,1)),VOL=(,,,1)
//SYSPRINT DD SYSOUT=*
//SYSUT1   DD UNIT=SYSALLDA,SPACE=(CYL,(1,1)),VOL=(,,,1)
//SYSUT2   DD UNIT=SYSALLDA,SPACE=(CYL,(1,1)),VOL=(,,,1)
//SYSUT3   DD UNIT=SYSALLDA,SPACE=(CYL,(1,1)),VOL=(,,,1)
//SYSUT4   DD UNIT=SYSALLDA,SPACE=(CYL,(1,1)),VOL=(,,,1)
//SYSUT5   DD UNIT=SYSALLDA,SPACE=(CYL,(1,1)),VOL=(,,,1)
//SYSUT6   DD UNIT=SYSALLDA,SPACE=(CYL,(1,1)),VOL=(,,,1)
//SYSUT7   DD UNIT=SYSALLDA,SPACE=(CYL,(1,1)),VOL=(,,,1)
//SYSUT8   DD UNIT=SYSALLDA,SPACE=(CYL,(1,1)),VOL=(,,,1)
//SYSUT9   DD UNIT=SYSALLDA,SPACE=(CYL,(1,1)),VOL=(,,,1)
//SYSUT10  DD UNIT=SYSALLDA,SPACE=(CYL,(1,1)),VOL=(,,,1)
//SYSUT11  DD UNIT=SYSALLDA,SPACE=(CYL,(1,1)),VOL=(,,,1)
//SYSUT12  DD UNIT=SYSALLDA,SPACE=(CYL,(1,1)),VOL=(,,,1)
//SYSUT13  DD UNIT=SYSALLDA,SPACE=(CYL,(1,1)),VOL=(,,,1)
//SYSUT14  DD UNIT=SYSALLDA,SPACE=(CYL,(1,1)),VOL=(,,,1)
//SYSUT15  DD UNIT=SYSALLDA,SPACE=(CYL,(1,1)),VOL=(,,,1)
//SYSMDECK DD UNIT=SYSALLDA,SPACE=(CYL,(1,1)),VOL=(,,,1)
//*
//LKED   EXEC PGM=IEWBLINK,COND=(8,LT,COBOL),REGION=0M
//SYSLIB   DD DSNAME=CEE.SCEELKEX,DISP=SHR
//         DD DSNAME=CEE.SCEELKED,DISP=SHR
//SYSPRINT DD SYSOUT=*
//SYSLIN   DD DSNAME=&&LOADSET,DISP=(OLD,DELETE)
//SYSLMOD  DD DSNAME={{ exec_data_set }}({{ member_name }}),
//            DISP=SHR